* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f9f9;
}

/* section {
  margin: 0;
  padding: 0;
} */

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
